@import url("https://fonts.googleapis.com/css2?family=Poppins");
:root {
  --primary-color: #2db2ea;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "poppins", sans serif;
}

.wrapper {
  background-color: #dff2f9;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.15);
}
header .container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container-header .logo {
  padding: 0 1em;
}
header .container-header .logo img {
  height: auto;
  width: 65%;
  cursor: pointer;
}
header .container-header .profile-logout {
  line-height: 2.5em;
  text-align: right;
  list-style-type: none;
}
header .container-header .profile-logout a {
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  margin-right: 2em;
}
header .container-header .profile-logout a:hover {
  color: var(--primary-color);
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
header .container-header .profile-logout .ri-account-circle-fill {
  position: relative;
  top: 3px;
  right: 5px;
  font-size: 1.4em;
}
header .container-header .profile-logout .ri-logout-circle-r-fill {
  position: relative;
  top: 3px;
  right: 5px;
  font-size: 1.4em;
}

.container .title {
  padding: 0.6em 0;
  max-width: 27em;
  margin: auto;
}
.container .title h3 {
  margin-top: 8em;
  font-size: 1em;
  padding-left: 0.5em;
}
.container .content {
  padding: 0.5em;
}
.container .content .first-section {
  background: white;
  padding: 1.2em;
  border-radius: 0.5em;
  max-width: 25em;
  margin: auto;
}
.container .content .first-section .head {
  text-align: center;
}
.container .content .first-section .head .profile-pic img {
  border: 1px solid rgb(230, 228, 228);
  border-radius: 50%;
  width: 30%;
}
.container .content .first-section .head .profile-pic p {
  font-size: 1.3em;
}
.container .content .first-section .head .show-hide {
  border-top: 1px solid var(--primary-color);
  margin-top: 3em;
}
.container .content .first-section .head .show-hide #toggle-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 12em;
  padding: 1em;
  border-radius: 2em;
  background-color: white;
  position: relative;
  top: -0.9em;
  font-size: 0.8em;
  cursor: pointer;
}
.container .content .first-section .head .show-hide #toggle-button:hover {
  background-color: var(--primary-color);
  color: white;
}
.container .content .first-section .profile-details {
  display: flex;
  justify-content: space-around;
}
.container .content .first-section .profile-details .left-list ul {
  list-style-type: none;
}
.container .content .first-section .profile-details .left-list ul li {
  font-weight: bold;
  font-size: 0.65em;
  line-height: 2.8em;
}
.container .content .first-section .profile-details .right-list ul {
  list-style-type: none;
}
.container .content .first-section .profile-details .right-list ul li {
  font-size: 0.64em;
  line-height: 2.85em;
}
.container .content .second-section {
  background: white;
  padding: 1.2em;
  border-radius: 0.5em;
  max-width: 25em;
  margin: 1.2em auto;
}
.container .content .second-section .first-row .blue-button .edit-change {
  text-align: center;
  display: block;
  background: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 auto 0.8em;
  color: white;
  padding: 0.8em 2em;
  border-radius: 0.3em;
  line-height: 1.6em;
  cursor: pointer;
  max-width: 22em;
  width: 100%;
}
.container .content .second-section .first-row .apply a {
  background: black;
  color: white;
  font-size: 0.9em;
  padding: 0.7em 2em;
  display: block;
  border-radius: 0.3em;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto 0.8em;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  max-width: 20em;
}
.container .content .second-section .first-row .apply a:hover {
  background-color: var(--primary-color);
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.container .content .second-section .first-row .apply a::before {
  content: "+";
  font-size: 16px;
  color: #000;
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0.6em;
  top: 0.6em;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
}
.container .content .second-section .second-row .current-site {
  border-top: 3px solid var(--primary-color);
  padding-top: 1em;
}
.container .content .second-section .second-row .current-site p {
  background-color: var(--primary-color);
  color: white;
  letter-spacing: 0.2em;
  padding: 0.3em 1.4em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.4em;
  font-size: 0.8em;
  font-weight: normal;
}
.container .content .second-section .second-row .left-col {
  margin-top: 1.5em;
}
.container .content .second-section .second-row .left-col h3 {
  font-size: 1.5em;
}
.container .content .second-section .second-row .left-col h3 span {
  color: rgb(176, 174, 174);
  font-size: 0.8em;
}
.container .content .second-section .second-row .left-col p {
  font-size: 1.2em;
}
.container .content .second-section .second-row .left-col p.gray-font {
  color: rgb(133, 129, 129);
  font-size: 0.85em;
  margin: 0.5em auto;
}
.container .content .second-section .second-row .right-col .steps {
  margin-top: 2em;
}
.container .content .second-section .second-row .right-col .steps ul.balls {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
  position: relative;
  justify-items: center;
  padding: 1em;
}
.container .content .second-section .second-row .right-col .steps ul.balls::before {
  content: "";
  width: 90%;
  border-top: 4px solid #39b3e6;
  clear: both;
  display: block;
  position: absolute;
  top: 4em;
  z-index: 1;
}
.container .content .second-section .second-row .right-col .steps ul.balls span {
  font-weight: normal;
  font-size: 0.9em;
  border: 1px solid var(--primary-color);
  padding: 0.2em 0.4em;
  position: absolute;
  top: 4em;
  left: -1.5em;
  border-radius: 0.3em;
  text-align: center;
  background: white;
  display: none;
  z-index: 3;
}
.container .content .second-section .second-row .right-col .steps ul.balls .circle {
  border-radius: 50%;
  background-color: var(--primary-color);
  height: 3em;
  width: 3em;
}
.container .content .second-section .second-row .right-col .steps ul.balls .circle:hover span {
  display: block;
}
.container .content .second-section .second-row .right-col .steps ul.balls .white-circle {
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: white;
  height: 2.8em;
  width: 2.8em;
}
.container .content .second-section .second-row .right-col .steps ul.balls .white-circle:hover span {
  display: block;
}
.container .content .second-section .second-row .right-col .steps ul.balls li {
  font-size: 0.85em;
  position: relative;
  left: 0.7em;
  top: 0.3em;
}
.container .content .second-section .second-row .edit-delete {
  float: right;
}
.container .content .second-section .second-row .edit-delete::after {
  content: "";
  clear: both;
  display: table;
}
.container .content .second-section .second-row a {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 1em;
  font-size: 1.3em;
}
.container .content .second-section .third-row .previous-applications {
  border-top: 3px solid var(--primary-color);
  margin-top: 3em;
}
.container .content .second-section .third-row .previous-applications p {
  margin: 1em 0;
  background-color: rgb(230, 227, 227);
  font-size: 0.9em;
  padding: 0.3em 1em;
  letter-spacing: 0.2em;
}
.container .content .second-section .third-row .hyc-countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
}
.container .content .second-section .third-row .hyc-countries a {
  text-decoration: none;
}
.container .content .second-section .third-row .hyc-countries a h4 {
  color: black;
  font-size: 1.2em;
}
.container .content .second-section .third-row .hyc-countries a span {
  color: rgb(176, 174, 174);
  font-size: 0.8em;
}
.container .content .second-section .third-row .hyc-countries a p {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  margin-bottom: 1em;
}

footer {
  background-color: #c3ebfb;
  top: 13em;
  margin: auto;
}
footer .world-wide {
  text-align: center;
}
footer .world-wide img {
  margin-top: 2em;
  width: 8em;
  height: auto;
}
footer .social-media {
  display: flex;
  justify-content: space-between;
  width: 12em;
  margin: auto;
}
footer .social-media svg {
  margin-top: 1em;
  width: 2em;
  height: auto;
}
footer .social-media svg:hover {
  box-shadow: 0px 0px 5px 2px #6b6b6b;
  border-radius: 50%;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
footer .copyright {
  max-width: 80%;
  margin: auto;
  border-top: 1px solid black;
  text-align: center;
  padding: 1em;
}
footer .copyright p {
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

@media only screen and (min-width: 480px) {
  .profile-logout {
    display: flex;
  }
  .container .title {
    max-width: 34em;
  }
  .container .title h3 {
    margin: 5.5em auto 0;
    font-size: 1.5em;
  }
  .container .content .first-section {
    max-width: 30em;
  }
  .container .content .first-section .profile-details .left-list ul.first-name li {
    font-size: 0.85em;
  }
  .container .content .first-section .profile-details .right-list ul.shivani li {
    font-size: 0.85em;
  }
  .container .content .second-section {
    max-width: 30em;
  }
  .container .content .second-section .third-row .hyc-countries .mexico-zambia {
    display: flex;
    justify-content: flex-start;
    gap: 4em;
  }
  footer .world-wide img {
    width: 9em;
  }
  footer .social-media {
    width: 14em;
  }
}
@media only screen and (min-width: 768px) {
  header .container-header {
    max-width: 50em;
    margin: auto;
  }
  .container .title {
    max-width: 45em;
  }
  .container .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .container .content .first-section {
    margin: 0 1em;
    max-width: 14em;
    flex-basis: 35%;
  }
  .container .content .first-section .profile-details .left-list ul.first-name li {
    font-size: 0.7em;
    line-height: 4em;
  }
  .container .content .first-section .profile-details .right-list ul.shivani li {
    font-size: 0.65em;
    line-height: 4.3em;
  }
  .container .content .second-section {
    margin: 0 1em 1em;
    flex-basis: 65%;
    max-width: 30em;
  }
  .container .content .second-section .second-row .flex-current-site {
    display: flex;
    align-items: baseline;
  }
  .container .content .second-section .second-row .flex-current-site .left-col {
    flex-basis: 50%;
  }
  .container .content .second-section .second-row .flex-current-site .left-col h3 {
    font-size: 1.3em;
  }
  .container .content .second-section .second-row .flex-current-site .right-col {
    flex-basis: 50%;
  }
  .container .content .second-section .second-row .flex-current-site .right-col .steps {
    margin: 0;
  }
  .container .content .second-section .third-row .hyc-countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  header .container-header {
    max-width: 60em;
    padding: 0 2em;
    margin: auto;
  }
  .container .title {
    max-width: 58em;
    margin: auto;
  }
  .container .content {
    max-width: 60em;
    margin: auto;
  }
  .container .content .first-section {
    margin: 0 1em;
    max-width: 20em;
  }
  .container .content .first-section .profile-details .left-list ul.first-name li {
    font-size: 0.85em;
    line-height: 4em;
  }
  .container .content .first-section .profile-details .right-list ul.shivani li {
    font-size: 0.85em;
    line-height: 4em;
  }
  .container .content .second-section {
    margin: 0 1em 1em;
    max-width: 40em;
  }
  .container .content .second-section .first-row {
    display: flex;
    gap: 0.5em;
    margin: auto;
    padding: 1em 0 2em;
  }
  .container .content .second-section .first-row .blue-button {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    gap: 0.5em;
  }
  .container .content .second-section .first-row .apply {
    float: right;
    width: 12em;
  }
  .container .content .second-section .third-row .hyc-countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    font-size: 1em;
    gap: 0.3em;
    padding-left: 0.5em;
  }
  footer .world-wide img {
    width: 12em;
  }
  footer .social-media {
    width: 17em;
  }
}
@media only screen and (min-width: 1200px) {
  header .container-header {
    max-width: 70em;
    padding: 0 2em;
    margin: auto;
  }
  .container .title {
    max-width: 67em;
    margin: auto;
  }
  .container .content {
    max-width: 70em;
    margin: auto;
  }
  .container .content .first-section {
    margin: 0 1em 2em;
    max-width: 24em;
  }
  .container .content .second-section {
    margin: 0 1em 1em;
    max-width: 45em;
  }
  .container .content .second-section .first-row {
    gap: 6em;
    margin: 0;
  }
  .container .content .second-section .third-row .hyc-countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, 215px);
    font-size: 1em;
  }
}/*# sourceMappingURL=profile.css.map */